{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "none",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-organize-imports"]
}
