.home-page {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.background-section {
    background-image: url('..//assets/Valise.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    padding-bottom: 400px;
    /* margin-bottom: 100px; */
}

.button-grid {
    display: flex;
    padding: 120px;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 200px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
    gap: 5px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}
.button-day {
    width: 80px;
    height: 80px;
    background-color: #dcb34e;
    border-radius: 12px;
    font: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.button-day:hover {
    background-color: #db9547;
    border: none;
    color: #f1f1f1;
    transform: scale(1.1);
}

.flex-example {
    width: 100%;
    height: 100%;
    background-color: plum;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
    /* flex-wrap: wrap; */
}

.item {
    min-width: 100px;
    height: 100px;
    background-color: grey;
}
